p {color: rgb(255, 227, 227); font-family: Arial, Helvetica, sans-serif;  font-size: larger;}
a {color: rgb(206, 138, 138);}
h1 {color: rgb(206, 138, 138); display: flex; justify-content: center;}
section {width: 60%; margin-left: 10px;}
img {float: right; margin-right: 100px;}
h2 {color: rgb(206, 138, 138); font-family: 'Courier New', Courier, monospace; font-size: 37px; margin-top: 70px; margin-bottom: 30px; background-image: url(img/texture.png); display: flex; justify-content: center;}
svg {margin-top: 45px; margin-bottom: 5px;}
nav {background-image: url(img/texture.png);}
article {margin-bottom: 50px;}
footer {background-image: url(img/texture.png); color: rgb(206, 138, 138);}
