h1 {color: rgb(206, 138, 138); display: flex; justify-content: center; background-image: url(img/texture.png);}
p {color: rgb(255, 227, 227); font-family: Arial, Helvetica, sans-serif;  font-size: larger; margin-bottom: 50px;}
a {color: rgb(206, 138, 138);}
img {margin-bottom: 30px; margin-left: 90px;}
footer {margin-top: 50px; background-image: url(img/texture.png);}
